<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
a,
h1,
h2,
h3,
p,
body,
header,
section,
footer,
.container,
.container-fluid,
.row,
.col {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  width: 100%;
}

body {
  background: #fff;
  background-position: center;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Lato", sans-serif;
}
@media all and (max-width: 1440px) {
  body {
    font-size: 14px;
  }
}
@media all and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}
@media all and (max-width: 768px) {
  body {
    font-size: 10px;
  }
  body p,
body label {
    font-size: 14px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color: #1f91c0;
  border-radius: 9999px;
  color: #fff;
  font-size: 120%;
  letter-spacing: 0.5rem;
  font-weight: 300;
  padding: 0.5rem 3rem;
  box-shadow: 1px 1px 3px 0 #31374c;
}
.btn:hover {
  color: #fff;
  background-color: #1d83af;
}

.hr-box {
  padding: 0.75rem 0;
}
.hr-box--hr {
  width: 25rem;
  height: 3px;
}

.header {
  background: #31374c;
  background-size: cover;
  display: flex;
  justify-content: center;
  z-index: 9999;
  height: 6rem;
}
.header__navegacion {
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem 0rem;
}
@media all and (max-width: 768px) {
  .header__navegacion {
    padding: 0.4rem 0.6rem 0rem 1.2rem;
    width: 100vw;
  }
}
.header__navegacion--logoimg {
  height: 7rem;
}
@media all and (max-width: 1024px) {
  .header__navegacion--logoimg {
    height: 2.3rem;
  }
}
@media all and (max-width: 768px) {
  .header__navegacion--logoimg {
    display: block;
    height: 3.2rem;
    margin: 0.6rem 0.3rem 0.3rem 0.3rem;
  }
}
.header__navegacion--menu {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 50%;
  transition: all ease 0.2s;
}
.header__navegacion--item-menu {
  text-transform: uppercase;
}
.header__navegacion--link-menu {
  color: #ccc;
}
.header__navegacion--social {
  display: flex;
  color: #408a63;
  justify-content: space-between;
  width: 9rem;
}
.header__navegacion--social-link i {
  font-size: 14px;
  font-weight: bold;
  color: #408a63;
  outline: 2px solid #408a63;
  padding: 5px;
  border-radius: 9999px;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.company__titulo {
  font-size: 250%;
  font-weight: 900;
  letter-spacing: 0.75rem;
}
.company__texto-box {
  padding: 0.75rem 0;
  width: 60ch;
  line-height: 3ch;
  font-size: 140%;
  font-weight: 300;
  color: #31374c;
  margin-bottom: 3rem;
}
.company__img {
  margin-top: 6rem;
  height: 25rem;
  width: 100%;
  background-image: url("../img/company-image.png");
  background-size: cover;
  background-position: center 65%;
  background-attachment: fixed;
}

.section-form {
  width: 40%;
  height: 300px;
  margin: 0 auto;
}
.section-form .title {
  display: flex;
  justify-content: center;
  color: #31374c;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.section-form .text {
  color: #408a63;
  font-family: "Lato", sans-serif;
  margin: 4% 0;
}
.section-form .box-form .form-input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-top: 4%;
  border: none;
  border-bottom: 1px solid gray;
  text-decoration: none;
}
.section-form .box-form .form-input:focus {
  outline: none;
}
.section-form .box-form .area {
  width: 100%;
  margin-top: 4%;
}
.section-form .box-form .area:focus {
  outline: none;
}
.section-form .box-form .send {
  display: flex;
  margin: 0 88%;
  font-family: Lato-Black;
  src: url("../../fonts/Lato Font/._Lato-Black.ttf");
  border: none;
  background: none;
  font-size: 1rem;
}
.section-form .box-form .error {
  border-bottom: 2px solid red;
}
.section-form .box-form .text-area {
  display: none;
  color: red;
  font-weight: bold;
}

.link-whats {
  position: fixed;
  right: 0;
  bottom: 1rem;
  z-index: 1;
}
.link-whats .img-whats {
  width: 6rem;
}

.carrusel .img-carusel {
  height: 23rem;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
=======
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}ul,ol,li,a,h1,h2,h3,p,body,header,section,footer,.container,.container-fluid,.row,.col{margin:0;padding:0}a{text-decoration:none;outline:none}ul{list-style:none}button,input,textarea,select{font:inherit}button{cursor:pointer}.img-fluid{max-width:100%;height:auto}.container-fluid{width:100%}body{background:#fff;background-position:center;text-rendering:optimizeLegibility;font-size:16px;width:100%;min-height:100vh;overflow-x:hidden;line-height:1.5;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:'Lato', sans-serif}@media all and (max-width: 1440px){body{font-size:14px}}@media all and (max-width: 1024px){body{font-size:12px}}@media all and (max-width: 768px){body{font-size:10px}body p,body label{font-size:14px}}li{list-style:none}a{text-decoration:none;color:#fff}.btn{background-color:#1f91c0;border-radius:9999px;color:#fff;font-size:120%;letter-spacing:0.5rem;font-weight:300;padding:0.5rem 3rem;-webkit-box-shadow:1px 1px 3px 0 #31374c;box-shadow:1px 1px 3px 0 #31374c}.btn:hover{color:#fff;background-color:#1d83af}.hr-box{padding:0.75rem 0}.hr-box--hr{width:25rem;height:3px}.header{background:#31374c;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;z-index:9999;height:6rem}.header__navegacion{width:100%;background:none;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0.4rem 0rem}@media all and (max-width: 768px){.header__navegacion{padding:0.4rem 0.6rem 0rem 1.2rem;width:100vw}}.header__navegacion--logoimg{height:7rem}@media all and (max-width: 1024px){.header__navegacion--logoimg{height:2.3rem}}@media all and (max-width: 768px){.header__navegacion--logoimg{display:block;height:3.2rem;margin:0.6rem 0.3rem 0.3rem 0.3rem}}.header__navegacion--menu{z-index:999;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:40px;width:50%;-webkit-transition:all ease .2s;transition:all ease .2s}.header__navegacion--item-menu{text-transform:uppercase}.header__navegacion--link-menu{color:#ccc}.header__navegacion--social{display:-webkit-box;display:-ms-flexbox;display:flex;color:#408a63;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:9rem}.header__navegacion--social-link i{font-size:14px;font-weight:bold;color:#408a63;outline:2px solid #408a63;padding:5px;border-radius:9999px}.company{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:5rem 0}.company__titulo{font-size:250%;font-weight:900;letter-spacing:0.75rem}.company__texto-box{padding:0.75rem 0;width:60ch;line-height:3ch;font-size:140%;font-weight:300;color:#31374c;margin-bottom:3rem}.company__img{margin-top:6rem;height:25rem;width:100%;background-image:url("../img/company-image.png");background-size:cover;background-position:center 65%;background-attachment:fixed}.section-form{width:40%;height:300px;margin:0 auto}.section-form .title{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;color:#31374c;font-family:'Lato', sans-serif;font-weight:bold;font-size:40px}.section-form .text{color:#408a63;font-family:'Lato', sans-serif;margin:4% 0}.section-form .box-form .form-input{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100%;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;margin-top:4%;border:none;border-bottom:1px solid gray;text-decoration:none}.section-form .box-form .form-input:focus{outline:none}.section-form .box-form .area{width:100%;margin-top:4%}.section-form .box-form .area:focus{outline:none}.section-form .box-form .send{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0 88%;font-family:Lato-Black;src:url("../../fonts/Lato Font/._Lato-Black.ttf");border:none;background:none;font-size:1rem}.section-form .box-form .error{border-bottom:2px solid red}.section-form .box-form .text-area{display:none;color:red;font-weight:bold}.link-whats{position:fixed;right:0;bottom:1rem;z-index:1}.link-whats .img-whats{width:6rem}.carrusel .img-carusel{height:70vh;-o-object-fit:cover;object-fit:cover;opacity:0.9;-webkit-filter:brightness(50%);filter:brightness(50%)}.titCarusel{width:100%;font-size:250%;font-weight:900;letter-spacing:0.75rem;width:45ch;font-size:270%}.btnCarousel{height:1.2rem !important;width:1.2rem !important;border:2px solid white !important;background-color:rgba(0,0,0,0) !important;border-radius:9999px !important;margin:1.2rem !important}.carousel-indicators .active{background-color:#fff !important}
/*# sourceMappingURL=main.css.map */
>>>>>>> 061b6bf0b3cf29812c5ba123617b198e2f70e3f8
