@import "../parciales/variables";

.footer {
    background: $primary;
    background-size: cover;
    z-index: 9999;
    width: 100%;
    background: $primary;
    background-size: cover;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0rem;

    @include tablet {
        flex-direction: column;
        row-gap: 2rem;
    }

    .logoimg {
        height: 6rem;
    }


    .social {
        display: flex;
        color: $secondary;
        justify-content: space-between;
        align-items: center;
        width: 9rem;

        @include tablet {
            width: 12rem;
        }
    }

    .contact {


        .p-contact {
            color: $blanco-texto;
            font-weight: 300;
        }
    }
}