@import "../parciales/variables";
@import "../parciales/mixins";

.section-form {
    background-image: url('../img/contact-bg.png') !important;
    background-position: bottom right;
    background-size: 27%;
    background-repeat: no-repeat;
    &-container {
        width: 40%;
        margin: auto;
        padding: 7rem 0;

        @include laptop-l {
            width: 50%;
        }

        @include laptop {
            width: 60%;
        }

        @include mobile-l {
            width: 80%;
            padding: 0 0 7rem  0;
        }

        @include mobile {
            width: 85%;
        }
    }

    .title {
        @include titulo;
        margin-top: 7rem;
        padding-top: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary;
        font-weight: 900;
        font-size: 430%;
        

        @include mobile-l {
            font-size: 350%;
            letter-spacing: 0.20rem;
        }
    }

    .text {
        color: $btn-color;
        margin: 8% 0;
        font-weight: 300;
        font-size: 155%;
        line-height: 3rem;
        text-align: center;

        @include tablet {
            line-height: 2rem;
        }
    }

    .box-form {



        .form-input {

            display: flex;
            justify-content: center;
            width: 100%;
            height: fit-content;
            margin-top: 4%;
            border: none;
            border-bottom: 1px solid gray;
            text-decoration: none;
            padding: 10px;
            font-size: 150%;

            &::placeholder {
                font-weight: 400;
                padding: 1px;
            }

            &:focus {
                outline: none;
            }
        }

        .area {
            width: 100%;
            padding: 10px;
            margin-top: 4%;
            resize: none !important;
            font-size: 150%;
            border-top: none;
            border-left: none;
            border-right: none;

            &::placeholder {
                font-weight: 400;
                padding: 2px;
            }

            &:focus {
                outline: none;
            }

        }

        .send {
            display: flex;
            margin: 2% 88%;
            border: none;
            background: none;
            font-size: 1rem;
            text-transform: uppercase;
            font-size: 150%;
            font-weight: 900;
            color: $primary;
            transition: ease all .3s;

            &:hover {
                color: $btn-color;
            }

            @include tablet {
                margin: 2% 85%;
            }

            @include mobile-l {
                margin: 2% 80%;
            }

            @include mobile {
                margin: 2% 72%;
            }
        }

        .error {
            border-bottom: 2px solid red;

        }

        .text-area {
            display: none;
            color: red;
            font-weight: 900;
        }

    }
}

.modal-title {
    color: #fff !important;
}