.section-form{
    
    
    width: 40%;
    height: 500px;
    margin: 0 auto;
    
    .title{
        margin-top: 40%;
        display: flex;
        justify-content: center;
        color: $primary;
        font-family: 'Lato',
        sans-serif;
        font-weight: bold;
        font-size: 40px;
        
    }
        .text{
            color: $secondary;
            font-family: 'Lato',
            sans-serif;
            margin: 4% 0;  
        }

    .box-form{ 
     


            .form-input{
                
                display: flex;
                justify-content: center;
                width: 100%;
                height: fit-content;
                margin-top:4% ;
                border: none;
                border-bottom: 1px solid gray;
                text-decoration: none;
                &:focus{
                    outline: none;
                }
            }

            .area{
                width: 100%;
                margin-top: 4%;
                &:focus{
                    outline: none;
                }
                
            }

            .send{
                display: flex;
                margin: 0 88%;
                font-family:Lato-Black;
                src: url('../../fonts/Lato\ Font/._Lato-Black.ttf'); 
                border: none;
                background: none;
                font-size: 1rem;
                }

            .error{
                border-bottom: 2px solid red;

            }

            .text-area{
                display: none;
                color: red;
                font-weight: bold;
            }

}
}