@import "../parciales/variables";
@import "../parciales/mixins";

.novedades{
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding-top: 16rem;
    @include tablet-l {
        height: 100%;
        padding: 7rem 0;
    }
}

.novedades__titulo{
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-weight: 900;
    letter-spacing: 0.75rem;
    @include titulo;
    color: $blanco;
}

.row{
    display: flex;
    justify-content: space-around;
    
    @include tablet-l {
        justify-content: center !important;
        flex-direction: column;
    }
    
}

.card{
    margin-top: 2px;
    width: 22rem;
    height: 22rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0%;
    @include laptop-l {
        width: 20rem;
    }
    @include laptop {
        width: 18rem;
        height: 18rem;
    }

    @include tablet-l {
        width: 20rem;
        height: 20rem;
    }
    @include mobile {
        width: 17rem;
        height: 17rem;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

     
            .card-title{
                text-align: left;
                font-size: 150%;
                width: 20ch;
                font-weight: 700;
                @include tablet-l {
                    font-size: 180%;
                }
                @include mobile {
                    width: 100%;
                }
            }

            .card-text{
                font-weight:300;
                width: 28ch;
                font-size: 105%;
                @include tablet-l {
                    font-size: 130%;
                }
                
                @include mobile {
                    width: 100%;
                }
            }

            .boton{
                font-size: 80%;
                @include tablet-l {
                    font-size: 100%;
                }
            }


    }

}

.img-card{
    margin-top: 3.2rem;
    width: 22rem;
    height: 12.5rem;
    object-fit: cover;
    @include laptop-l {
        width: 20rem;
    }

    @include laptop {
        width: 18rem;
        height: 10.5rem;
    }

    @include tablet-l {
        width: 20rem;
        height: 11.5rem;
    }

    @include mobile {
        width: 17rem;
        height: 11.5rem;
    }
}

