@import "../parciales/variables";
@import "../parciales/mixins";

.novedades{
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding-top: 16rem;
}

.novedades__titulo{
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-weight: 900;
    letter-spacing: 0.75rem;
    @include titulo;
    color: $blanco;
}

.row{
    display: flex;
    justify-content: space-around;
    
    
}

.card{
    margin-top: 2px;
    width: 21rem;
    height: 22rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0%;

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

     
            .card-title{
                text-align: left;
                font-size: 150%;
                width: 20ch;
                font-weight: 700;
            }

            .card-text{
                font-weight:300;
                width: 28ch;
                font-size: 105%;
            }

            .boton{
                font-size: 80%;
            }


    }

}

.img-card{
    margin-top: 3.2rem;
    width: 21rem;
    height: 200px;
    object-fit: cover;
   
}

