@import "./variables";
@import "./responsive";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 4rem;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $primary #fff
}

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, $primary, $primary);
    border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, $primary-transparency, $primary-transparency)
}


ul,
ol,
li,
a,
h1,
h2,
h3,
p,
body,
header,
section,
footer,
.container,
.container-fluid,
.row,
.col {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    width: 100%;
}

body {
    background: $blanco;
    background-position: center;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Lato',
        sans-serif;

    @include laptop-l {
        font-size: 14px;
    }

    @include laptop {
        font-size: 13px;
    }

    @include tablet {
        font-size: 12px;

        p,
        label {
            font-size: 14px;
        }
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blanco;
}

.btn {
    background-color: $btn-color;
    border-radius: 9999px;
    color: $blanco;
    font-size: 120%;
    letter-spacing: 0.5rem;
    font-weight: 300;
    padding: 0.5rem 3rem;
    box-shadow: $sombra-negra;

    &:hover {
        color: $blanco;
        background-color: #1d83af;
    }
}

.hr-box {
    padding: 0.75rem 0;

    &--hr {
        width: 25rem;
        height: 3px;

        @include mobile-l {
            width: 20rem;
        }
        @include mobile-l {
            width: 17rem;
        }
    }
}