@import "./variables";
@import "./responsive";

.header {
    border: 1px solid rgba(49, 55, 76, 0.6);
    background: $primary-transparency;
    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: 9999;
    height: 6rem;
    top: 0;
    position: fixed;
    width: 100%;


    &__navegacion {
        width: 100%;
        background: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.4rem 0rem;


        @include tablet {
            padding: 0.4rem 0.6rem 0rem 1.2rem;
            width: 100vw;
        }

        &--logoimg {
            height: 7rem;

            @include laptop {
                height: 2.3rem;
            }

            @include tablet {
                display: block;
                height: 3.2rem;
                margin: 0.6rem 0.3rem 0.3rem 0.3rem;
            }
        }


        &--menu {
            z-index: 999;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 30px;
            transition: all ease .2s;
        }

        &--item-menu {
            text-transform: uppercase;
        }

        &--link-menu {
            color: $blanco-texto;
            font-weight: 700;
            letter-spacing: 0.5px;

            &:hover {
                color: $blanco;
            }
        }

        
        &--social {
            display: flex;
            color: $secondary;
            justify-content: space-between;
            width: 9rem;
        }

        &--social-link i {
            font-size: 14px;
            font-weight: bold;
            color: $secondary;
            outline: 2px solid $secondary;
            padding: 5px;
            border-radius: 9999px;
        }

}
}