@import "./variables";
@import "./responsive";

.header {
    &__navegacion {
        &--social {
            display: flex;
            color: $secondary;
            justify-content: space-between;
            column-gap: 15px;
            width: 9rem;
            @include tablet {
                display: none;
            }
        }

        &--social-link:hover {
            &:hover {
                transform: scale(1.05);
            }
        }
        &--social-link i {
            font-size: 120%;
            font-weight: bold;
            color: $secondary;
            outline: 2px solid $secondary;
            padding: 5px;
            border-radius: 9999px;
            transition: all ease .3s;

            &:hover {
                color: $blanco;
                outline: 2px solid $blanco;
            }

            @include tablet {
                font-size: 220%;
                margin-top: 0.5rem;
            }
        }

}
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 6rem;
    z-index: 5;
    box-shadow: $sombra-negra;
    background: $primary-transparency;
    @include tablet {
        background: $primary;
    }

    .container-mobile {
        @include tablet {
            display: flex;
            padding: 0 1rem;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    .contactLinks {
        margin-left: 70px;
        font-size: 1.8rem;

        .contactDetails {
            color: $secondary;
            padding: 2rem;
            transition: color .5s;

            &:hover {
                color: $blanco;
            }

            i {
                transition: transform .4s ease-out;

                &:hover {
                    transform: translateY(8px);
                }
            }
        }
    }


    .logoContenedor img {
        height: 4.5rem;
        @include tablet {
            height: 4.5rem;
        }
    }
}

nav ul {
    display: flex;
    flex-wrap: nowrap;

    li {
        display: inline-block;

        a {
            position: relative;
            font-size: 110%;
            display: block;
            padding: 0.2em 0;
            text-decoration: none;
            list-style: none;
            color: $secondary;
            padding: 2rem;
            transition: color .5s;
            overflow: hidden;

            &:hover {
                color: $blanco;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.1em;
                background-color: $blanco;
                opacity: 0;
                transition: opacity 300ms, transform 300ms;
            }
        }
    }
}

.contactLinksMenu {
    display: none;
}

.menuBtn {
    cursor: pointer;
    padding: 0 20px;
    color: $blanco;
    font-size: 150%;
    z-index: 2;
    display: none;
    color: $blanco;
}

.hr {
    display: none;
}

/* Fade in */

a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

li a::after {
    opacity: 1px;
    transform: translate3d(-100%, 0, 0);
}

li a:hover::after,
li a:focus::after {
    transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 1450px) {

    header .logoContenedor img {
        position: static;
        top: none;
        left: none;
        transform: none;
    }

    /* NAV RESPONSIVE */

    nav ul li a {
        padding: 1rem;
    }

    .contactLinks {
        margin-left: 40px;
        font-size: 1.4rem;
    }

    .contactDetails {
        padding: 1.2rem;
    }
}

@media only screen and (max-width: 769px) {

    /* HEADER */

    /* texto principal */
    .main-text h1 {
        font-size: 4.5rem;
    }

    .main-text p {
        font-size: 2.5rem;
    }

    .contactLinks {
        display: none;
    }

    .menuBtn {
        display: block;
    }


    .titulo2 {
        font-size: 3.8rem;
    }

    .contenedorSectionIndex p,
    .contenedorSectionIndex2 p {
        font-size: 1.7rem;
    }

    /* MENU BURGER */
    .navMenu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 47px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(49, 55, 76, 0.97);
        opacity: 0.9;
        line-height: 3;
        padding: 30px;
        transform: translate(0px, 3.02rem);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all ease .3s;
    }

    .contactLinksMenu {
        display: flex;
        justify-content: center;
    }

    .contactLinksMenu a {
        margin: 0 2rem;
    }

    .hr {
        display: flex;
        height: .2rem;
        margin: 2rem 0 1rem 0;
        background-color: $secondary;
        width: 90%;
        align-self: center;
    }

    .show {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    nav ul li a {
        font-size: 2.1rem;
    }
}