@import "./variables";
@import "./mixins";

// Company Section

.company {
    @include container-section;

    &__titulo {
        @include titulo;
    }

    &__texto-box {
        padding: 0.75rem 0;
        line-height: 3ch;
        width: 60ch;
        font-size: 140%;
        font-weight: 300;
        color: #31374c;
        margin-bottom: 3rem;

        @include tablet {
            width: 100%;
            padding: 0.75rem 3rem;
            line-height: 4.2ch;
        }

        &--parrafo {
            @include tablet {
                font-size: 130%;
            }
        }
    }

    &__img {
        @include img-section;
        background-image: url('../img/company-image.png');
    }
}

// Services Section
.services {
    @include container-section;
    background-color: $blanco;
    &__titulo {
        @include titulo;
        color: $primary;
    }

    &__logo-box {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        width: 200px;
        flex-wrap: nowrap;
        margin-bottom: 1rem;
        @include tablet {
            flex-wrap: wrap;
            column-gap: 20rem;
            margin-top: 0.2rem;
            row-gap: 1rem;
        }
        @include mobile-l {
            flex-wrap: wrap;
            column-gap: 20rem;
            margin-top: 0rem;
        }
    
        &--item {
            align-self: center;

        }
    
        &--img {
            width: 100%;
            align-self: center;
            height: 180px;
            object-fit: contain;
            fill: 100%;
    
            @include laptop-l {
                width: 200px;
                height: 150px;
            }
    
            @include mobile-l {
                width: 180px;
                height: 180px;
            }
        }
    
        &--logo-titulo {
            color: $primary;
            font-size: 140%;
            text-align: center;
            font-weight: 400;
            width: 200px;
            margin: 0;

            @include mobile-l {
                width: 180px;
                font-size: 170%;
            }

        }

    }

    &__img {
        @include img-section;
        background-image: url('../img/services-image.png');
    }
}

// Staff Section

.staff {
    @include container-section;

    &__titulo {
        @include titulo;
    }

    &__container {
        display: flex;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;

        @include tablet {
            gap: 3rem;
        }
    }

    &__img-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 25rem;

        @include mobile-l {
            margin-top: 1rem;
            height: 100%;
        }

        &--img {
            border-radius: 100%;
            width: 18rem;
            object-fit: cover;

            @include tablet {
                width: 15rem;
            }
        }
    }
    &__texto-box {
        margin: 6rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 1.875rem;
        height: 100%;
        padding: 0.75rem 0;
        width: 21ch;
        line-height: 3ch;
        font-size: 140%;
        font-weight: 300;
        color: #31374c;

        @include tablet {
            margin: 3rem 0;
            row-gap: 1rem;
        }

        @include mobile-l {
            margin: 1rem 0;
            width: 70%;
        }

        &--titulo {
            letter-spacing: 0.40rem;
            font-weight: 700;
            width: 20ch;
            font-size: 180%;

            @include laptop {
                width: 100%;
            }
        }
        &--subtitulo {
            letter-spacing: 0.40rem;
            font-size: 90%;
            font-weight: 500;
            width: 30ch;
            color: $btn-color;
            @include tablet-l {
                width: 100%;
            }
        }

        &--parrafo {
            line-height: 1.9rem;
            font-weight: 300;
            color: #31374c;
            width: 100%;

            @include tablet {
                font-size: 100%;
            }

            @include mobile-l {
                font-size: 105%;
            }
        }
    }

    .btn {
        font-size: 95%;
        margin-top: 1.25rem;

        @include laptop {
            font-size: 80%;
        }

        @include tablet {
            font-size: 70%;
            margin-top: 0.625rem;
        }
    }

    &__img {
        @include img-section;
        background-image: url('../img/staff-image.png');
    }
}