@import "./variables";
@import "./mixins";

// Company Section

.company {
    @include container-section;

    &__titulo {
        @include titulo;
    }

    &__texto-box {
        padding: 0.75rem 0;
        width: 60ch;
        line-height: 3ch;
        font-size: 140%;
        font-weight: 300;
        color: #31374c;
        margin-bottom: 3rem;
    }

    &__img {
        @include img-section;
        background-image: url('../img/company-image.png');
    }
}

.services {
    @include container-section;
    background-color: $primary;
    padding-top: 6rem;

    &__titulo {
        @include titulo;
        color: $blanco;
    }

    &__logo-box {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        width: 100%;
        flex-wrap: nowrap;
        padding-bottom: 6rem;
    
        &--item {
            align-self: center;

        }
    
        &--img {
            width: 100%;
            align-self: center;
            height: 180px;
            object-fit: contain;
    
            @include laptop-l {
                width: 150px;
                height: 150px;
            }
    
            @include mobile-l {
                width: 150px;
                height: 150px;
            }
        }
    
        &--logo-titulo {
            color: $blanco-texto;
            font-size: 140%;
            text-align: center;
            font-weight: 300;
            width: 15ch;
            margin: 0;
        }

    }

    &__img {
        @include img-section;
        background-image: url('../img/services-image.png');
    }
}