@import "./variables";
@import "./mixins";

// Company Section

.company {
    @include container-section;

    &__titulo {
        @include titulo;
    }

    &__texto-box {
        padding: 0.75rem 0;
        width: 60ch;
        line-height: 3ch;
        font-size: 140%;
        font-weight: 300;
        color: #31374c;
        margin-bottom: 3rem;
    }

    &__img {
        @include img-section;
        background-image: url('../img/company-image.png');
    }
}

.services {
    @include container-section;
    background-color: $primary;

    &__titulo {
        @include titulo;
        color: $blanco;
    }

    &__logo-box {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        gap: 7rem;
        width: 100%;
        flex-wrap: wrap;
    
        &--item {
            align-self: center;
    
            @include laptop-l {
                margin: 0.625rem 6.25rem;
            }
        }
    
        &--img {
            width: 180px;
            align-self: center;
            height: 180px;
            object-fit: contain;
    
            @include laptop-l {
                width: 150px;
                height: 150px;
            }
    
            @include mobile-l {
                width: 150px;
                height: 150px;
            }
        }
    
        &--logo-titulo {
            color: $blanco-texto;
            font-size: 130%;
            text-align: center;
            font-weight: 300;
            width: 20ch;
            margin: 0;
        }
    }

    &__img {
        @include img-section;
        background-image: url('../img/company-image.png');
    }
}