// Colores
$primary : rgb(49, 55, 76);
$primary-transparency : rgba(49, 55, 76, 0.5);
$secondary : #408a63;
$blanco : #fff;
$negro : #000;
$blanco-texto : #ccc;
$gris-oscuro : #141414;
$amarillo : #dba520;
$btn-color: #1f91c0;

// Bordes
$borde-blanco : 1px solid #fff;
$borde-blanco-2 : 1px solid #ccc;
$borde-negro : 1px solid #000;
$borde-redondeado : 5px;

// Sombras
$sombra-negra : 1px 1px 3px 0 #31374c;

// Margins - Paddings
$margin-titulo : 9.375rem;
$padding-titulo : 0.625rem;